<div class="students-page">
  <!-- Header -->
  <div class="header">
    <div>
      <h2>Students</h2>
      <p>{{placedCount}} placed · {{notPlacedCount}} not yet placed</p>
    </div>
    <button class="export-btn" (click)="exportStudents()">⬇ Export All</button>
  </div>

  <!-- Search + Filter -->

  <div class="toolbar">

    <input type="text" placeholder="Search students..." [(ngModel)]="searchText" (input)="applyFilters()" />
    <div class="filters">

      <button (click)="setFilter('all')" [class.active]="filterType==='all'">All</button>
      <button (click)="setFilter('selected')" [class.active]="filterType==='selected'">Placed</button>
      <button (click)="setFilter('notPlaced')" [class.active]="filterType==='notPlaced'">Not Placed</button>
    </div>

  </div>

  <!-- Table -->
  <div class="table-container">
    <table>

      <thead>
        <tr>
          <th>Student</th>
          <th>ID</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let s of filteredStudents" (click)="openStudent(s)" style="cursor:pointer;">
          <td class="student">
            <div class="avatar">👤</div>
            <div>
              <strong>{{s.username}}</strong>
            </div>
          </td>
          <td>{{s.studentId}}</td>
          <td>{{s.email}}</td>
          <td>
            <span *ngIf="s.placed" class="placed">
              Placed
            </span>
            <span *ngIf="!s.placed" class="applied">
              Not Placed
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-studentmodal *ngIf="showModal" [student]="selectedStudent" (close)="closeModal()">

</app-studentmodal>