/* You can add global styles to this file, and also import other style files */

#toast-container.toast-top-center {
    top: 12px;
    right: 0;
    left: 0;
    width: fit-content;
    margin: auto;
  }
  
  #toast-container.toast-top-center .ngx-toastr {
    margin: auto;
  }
